build
mx.scratch
!.settings
.settings/bundles-lock.store.json
.settings/bundles.store.json
.settings/ide.store.json
.vscode/c_cpp_properties.json
.vscode/settings.json
Drivers/BSP/Adafruit_Shield/adafruit_802_conf_template.h
Drivers/BSP/Adafruit_Shield/adafruit_802_lcd.h
Drivers/BSP/Adafruit_Shield/adafruit_802_sd.h
Drivers/BSP/Adafruit_Shield/adafruit_802.h
Drivers/BSP/Adafruit_Shield/Adafruit_Config/adafruit_802_conf_STM32F4xx_Nucleo.h
Drivers/BSP/Adafruit_Shield/Adafruit_Config/adafruit_802_conf_STM32F7xx_Nucleo.h
Drivers/BSP/Adafruit_Shield/Adafruit_Config/adafruit_802_conf_STM32G4xx_Nucleo.h
Drivers/BSP/Adafruit_Shield/Adafruit_Config/adafruit_802_conf_STM32H7xx_Nucleo.h
Drivers/BSP/Adafruit_Shield/Adafruit_Config/adafruit_802_conf_STM32L4xx_Nucleo.h
Drivers/BSP/Adafruit_Shield/Adafruit_Config/adafruit_802_conf_STM32WLxx_Nucleo.h
stm32cubeide-export.json
CMakePresets.json
